.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 98%;
    z-index: 1;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.navbar .logo {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
